@model List<Slider>
@{
    ViewData["Title"] = "Index";
    int count = 0;
}

<link href="https://cdn.datatables.net/1.13.2/css/jquery.dataTables.min.css" rel="stylesheet" />


<div class="container" style="display:flex; justify-content:space-between; align-items:center">

    <div>
        <h1>Index <strong>Slider</strong></h1>
    </div>
    <div>
        <a asp-action="create" asp-controller="slider" class="btn btn-success"><i class="fa-solid fa-plus"></i>Create!</a>
    </div>

</div>

<div class="container" style="margin-top:5px">
    <table class="table" id="index">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var slider in Model)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>
                        <img src="~/uploads/sliders/@slider.ImageUrl" width="300" height="200">
                    </td>
                    <td>
                        <a asp-action="update" asp-controller="slider" asp-route-id="@slider.Id" type="button" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i>Update!</a>
                        <a asp-action="delete" asp-controller="slider" asp-route-id="@slider.Id" type="button" class="btn btn-danger item-delete-btn"><i class="fa-solid fa-trash"></i>Delete!</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


